header{
  border-bottom: 1px solid gray;
  height: 150px;
  
  > div:first-child{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div:first-child{
      width: 200px;
      // img{}
    }

    div:last-child{
      width: 100%;
      // height: 60px;
      img{
        height: 100%;
      } 
    }
  }
  @media screen and (min-width:800px){
    > div:first-child{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div:first-of-type{
        width: 35%;
        margin-right: 2rem;
      }
      div:last-of-type{
        width: 65%;
      }
    }
  }
}




















